@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

header{
    background-color: black;
    color: white;
    text-align: center;
    padding: 65px;
}
:root{
    --fonte1: Verdana, Geneva, Tahoma, sans-serif;
    --fonte2: 'Passion One', cursive;
    --fonte3: 'Sriracha', cursive;
}

header h1{
    font-size: 7em;
    font-family: var(--fonte2);
}
header p{
    padding-top: 15px;
    font-family: var(--fonte1);
}
header a{
    color: white;
    text-decoration: none;
    font-weight: bold;
}
header a:hover{
    text-decoration: underline;
}
*{
    margin: 0px;
    padding: 0px;
    font-size: 1em;
}
section{
    font-family: var(--fonte3);
    padding: 30px;
    font-size: 3.2em;
    line-height: 55px;
}
.seção1{
    padding-bottom: 10%;
}

.seção2{
    background: black url(imagens/background001.jpg) center center no-repeat fixed;
    background-size: cover;
}
.p2{
    background-color: rgba(0, 0, 0, 0.493);
    color: white;
    margin-right: 55%;
    padding: 10px;
}
.seção3{
    padding-top: 10%;
    padding-bottom: 10%;
}
.seção4{ 
    background: black url(imagens/background002.jpg) center center no-repeat fixed;
    background-size: cover;
}
.p5{
    background-color: rgba(0, 0, 0, 0.363);
    color: white;
    margin-right: 55%;
    padding: 5px;
}
.seção5 >p{
    padding-bottom: 10%;
}
footer{
    background-color: black;
    color: white;
    padding: 10px;
    text-align: center;
    font-size: 16px;
    font-family: var(--fonte1);
}
footer a{
    color: white;
    font-weight: bold;
    text-decoration: none;
}
footer a:hover{
    text-decoration: underline;
}