@charset "UTF-8";

/*
   em HTML é id = em CSS # (só pode um elemento dentro de cada HTML)
   em HTML é class = em CSS . (pode vários elementos dentro do HTML)
*/

body{
    background-color: #9feaa9;
    font-family: Arial, Helvetica, sans-serif;
}
h1{
   color: #34663B;
}
#principal{
    text-align: center;
    background-color: #34663B;
    color: white;
}

h2{
    color: #2BCC2E;
}
.basico{
    color: #2BCC2E;
}
.intermediario{
    color: #bccc2b;
}
.avancado{
    color: #cc2b2b;
}
.destaque{
    background-color: #d6de3ba4;
}